body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #48C9B0;
}

.quem-somos {
    background-color: #D5F5E3;
    color: #5f5f5f;
}

.margin-padding {
    padding-top: 45px;
    padding-bottom: 50px;
}

.quem-img {
    width: 370px;
    height: 300px;
    margin: 15px 0 15px;
}